.WidgetYoutube-content{
    display: flex;
    background-color: black;
    color: white;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;

}

.WidgetYoutube-2{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
}