@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
 
html, body {
  height: 100%;
  margin: 0;
}  

body {
  display: flex;
  flex-direction: column;
}
main {
    display: block;
  }
