@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');


.ListofServices {

    &__container {
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        margin: auto;
        padding: 1rem;
    }

    &__logo {
        width: 250px;
        height: 150px;
    }
}


